div.frame {
  text-align: center;
	width:800px;
	height: 600px;
}

#slides { margin-bottom: 10px;}

#slides li {
	margin:0;
	display: inline;
	line-height: 30px;
	cursor: pointer;
	padding: 5px;
	font-family: 'georgia';
	font-size: 120%;
}

#slides li:hover {
	text-decoration: underline;
}

.text {
 padding-top: 50px;
	font-size: 200%;
	font-family: 'Georgia';
}

#third .img {
	float:  left;
}